<form [formGroup]="form">
  <div>
    <label for="firstName">First Name *</label>
    <input type="text" class="form-control" id="firstName"
            required
            formControlName="firstName"
            minlength="3"
            name="firstName"
    >
    <div *ngIf="form.get('firstName')?.invalid && (form.get('firstName')?.dirty || form.get('firstName')?.touched)" class="error-message">
      <small *ngIf="form.get('firstName')?.errors?.['required']">First name is required.</small>
      <small *ngIf="form.get('firstName')?.errors?.['minlength']">First name must be at least 3 characters long.</small>
    </div>
  </div>
  <div>
    <label for="lastName">Last Name *</label>
    <input type="text" class="form-control" id="lastName"
            required
            minlength="3"
            name="lastName"
            formControlName="lastName">
    <div *ngIf="form.get('lastName')?.invalid && (form.get('lastName')?.dirty || form.get('lastName')?.touched)" class="error-message">
      <small *ngIf="form.get('lastName')?.errors?.['required']">Last name is required.</small>
      <small *ngIf="form.get('lastName')?.errors?.['minlength']">Last name must be at least 3 characters long.</small>
    </div>
  </div>

  <div>
    <label for="age">Age *</label>
    <input type="number" class="form-control ng-untouched ng-pristine ng-valid" id="age"
            required
            formControlName="age"
            name="age"
            min="18">
    <div *ngIf="form.get('age')?.invalid && (form.get('age')?.dirty || form.get('age')?.touched)" class="error-message">
      <small *ngIf="form.get('age')?.errors?.['required']">Age is required.</small>
      <small *ngIf="form.get('age')?.errors?.['min']">Age must be at least 18.</small>
    </div>
  </div>

  <div>
    <label for="hobby">Hobby </label>
    <input type="text" class="form-control" id="hobby" formControlName="hobbies" required>
  </div>
</form>
