<div class="container" *ngIf="users as users">
    <div class="title-submitted">
      <h2>
        You submitted the following
      </h2>
    </div>
    <div *ngFor="let user of users(); let i=index">
      <div class="row">
        <div class="col-xs-3">First Name</div>
        <div class="col-xs-9">{{ user.firstName }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Last Name</div>
        <div class="col-xs-9">{{ user.lastName }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Age</div>
        <div class="col-xs-9">{{ user.age}}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Hobbies</div>
        <div class="col-xs-9">{{ user.hobbies }}</div>
      </div>
      <br>

      <button type="button" class="btn btn-primary" (click)="openDialog(i, user)">Edit</button>
    </div>
    <button type="button" class="btn btn-secondary" (click)="onDisplayList()">Show list</button>
  </div>
